
<div class="container-fluid" style="padding: 20px;">
    <div class="row" style="background: lightseagreen; padding:15px; margin: 10px;">
        <app-header></app-header>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-md-2 offset-md-1" style="background: lightseagreen; padding: 10px;">
            <app-nav></app-nav>
        </div>
        <div class="col-4" style="background: lightseagreen; padding: 10px;">
            <app-main></app-main>
        </div>
    </div>
</div>